<!-- Loading animation -->
<div class="lds-dual-ring" *ngIf="photosLoading"></div>

<!-- Search bar -->
<div class="searchContainer">
  Search: <input type="text" class="form-control" (keyup)="onSearchChange($event.target.value)">
</div>

<!-- All the images -->
<div class="photosContainer">
  <div *ngFor="let photo of photos" class="photoBox" >
    <app-photo [photo]="photo" (photoEmitted)="onPhotoEmitted($event)"></app-photo>
  </div>
</div>


<!-- Modal window -->
<div id="myModal" class="modal" (click)="closeModal()">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <img [src]="modalPhoto" class="modalImage" (click)="$event.stopPropagation()">
  </div>

</div>
